@font-face {
  font-family: BaksoSapi;
  src: url("BaksoSapi.otf");
}

@font-face {
  font-family: Outfit;
  src: url("Outfit-SemiBold.ttf");
}

*{
  user-select: none;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

@keyframes example {
  0% {
    color: rgba(255, 212, 163, 0.719);
    border-color: rgb(255, 255, 255);
  }
  25% {
    color: rgba(203, 163, 255, 0.719);
    border-color: rgba(203, 163, 255, 0.719);
  }
  50% {
    color: rgba(163, 244, 255, 0.719);
    border-color: rgba(163, 244, 255, 0.719);
  }
  100% {
    color: rgba(255, 212, 163, 0.719);
    border-color: rgb(255, 255, 255);
  }
}

/* The element to apply the animation to */

.introduction{
  font-family: Outfit;
  color: rgb(41, 41, 41);
  user-select: none;
  font-size: 1.6em;
  text-align: center;
}

.discordIntro{
  font-family: Outfit;
  color: rgb(41, 41, 41);
  user-select: none;
  font-size: 18px;
}

.projectsTitle{
  font-family: Outfit;
  color: rgb(41, 41, 41);
  user-select: none;
  font-size: 1.6em;  
}

.introductionDesc{
  font-family: Outfit;
  color: rgb(41, 41, 41);
  user-select: none;
  font-size: 1.2em;
}

.introductionContainer{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.discordContainer{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100vw;
  gap: 35px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; 
  user-select: none;
}


.projects{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
/*   width: 100vw;
  height: 50vh; */
  gap: 25px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; 
  user-select: none;
}

.introductionIntro{
  font-family: Outfit;
  color: rgb(41, 41, 41);
  user-select: none;
  font-size: 1.6em;
}

h1 {
  color: rgba(255, 255, 255, 0.719);
  /*   background-color: rgba(128, 225, 255, 0.603); */
  font-size: 60px;
  /*   border-style: ridge; */
  animation-name: example;
  animation-duration: 8s;

  /*   border-style: dotted; */

  /* width: 800px; */
  border-radius: 1px;
  /*   border-style: none none dashed none; */
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  font-family: ChildrenSans;
/*   margin-bottom: 50px;
  margin-left: 100px; */
}

.introTitle {
  color: rgb(255, 255, 255);
  /*   background-color: rgba(128, 225, 255, 0.603); */
  font-size: 25px;
  /*   border-style: ridge; */
  animation: pop 0.8s ease-in-out;
  animation-delay: 0.5s;
  font-family: ChildrenSans;
}

.lol {
  color: rgb(255, 255, 255);
  /*   background-color: rgba(128, 225, 255, 0.603); */
  font-size: 25px;
  /*   border-style: ridge; */

  font-family: ChildrenSans;
  margin: auto;
  width: 50%;
}

p {
  color: rgb(255, 255, 255);
  /* margin-left: 1.8em; */
}

.discordLogo {
  height: 45px;
  width: 45px;
  aspect-ratio: initial;
}

.cricketLogo {
  height: 85px;
  width: 85px;
  aspect-ratio: initial;
}

.discordLogo:hover{
  scale: 1.225;
}

.cricketLogo:hover{
  scale: 1.225;
}
