body {
  background-color: rgb(0, 0, 0);
}
@keyframes example {
  0% {
    border-color: rgba(47, 241, 255, 0.76);
  }
  25% {
    border-color: rgba(0, 0, 0, 0.76);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.76);
  }
  100% {
    border-color: rgba(47, 241, 255, 0.76);
  }
}

/* The element to apply the animation to */

h1 {
  color: rgb(255, 255, 255);
  /*   background-color: rgba(128, 225, 255, 0.603); */
  font-size: 60px;
  /*   border-style: ridge; */

  font-family: "Lucida Console", "Courier New", monospace;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 50%;
  width: 100px;
  height: 100px;
}
h2 {
  color: rgb(255, 255, 255);
  /*   background-color: rgba(128, 225, 255, 0.603); */
  font-size: 35px;
  /*   border-style: ridge; */

  font-family: "Times New Roman", Times, serif;
  margin: auto;
  width: 50%;

  padding: 10px;
}

p {
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

img {
  margin-top: -50px;
  margin-left: 50px;
  border-color: rgba(47, 241, 255, 0.76);
  border-width: 10px;

  border-style: outset;
  border-radius: 5px;

  animation-name: example;
  animation-duration: 4s;
  padding: 10px;
}

button:hover {
  background-color: #026485fd;
}

a:hover {
  background-color: #026485fd;
}
